{% extends 'base.html' %}

{% block body %}
{% if user.is_authenticated %}
    <h2> Albums </h2>
    {% if albums %}
        <ul>
            {% for album in albums %}
                <h3><a href="{{ album.get_absolute_url }}">{{ album.title }}</a></h3>
                <li>Artist: {{ album.artist }}</li>
                <li>Number of tracks: {{ album.tracks_count }}</li>
                <li>Album duration: {{ album.album_duration }} minutes</li>
                <li>Longest track duration: {{ album.longest_track_duration }} minutes</li>
                <li>Shortest track duration: {{ album.shortest_track_duration }} minutes</li>
            {% endfor %}
        </ul>
    {% else %}
        <h3> There aren´t any albums </h3>
    {% endif %}
{% else %}
    <h3 class="text-center">Oops! You need to be authenticated to see this page!</h3>
{% endif %}
{% endblock %}