{% extends 'base.html' %}

{% block body %}
{% if user.is_authenticated %}

    <h1>{{ album.title }}</h1>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <h2>Songs:</h2>
    <ul>
        {% for track in album.related_tracks.all %}
            <li>{{ track.name }}</li>
            <p>Track duration: {{ track.milliseconds }}</p>
        {% endfor %}
     </ul>
{% else %}
    <h3 class="text-center">Oops! You need to be authenticated to see this page!</h3>
{% endif %}
{% endblock %}