{% extends 'base.html' %}

{% block body %}
{% if user.is_authenticated %}

    {% if artist.get_image != None %}
        <img src="/media/{{ artist.get_image }}">
    {% endif %}
    <h2><strong>{{ artist.name }} </strong></h2>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <h3>Albums </h3>
    <ul>
        {% for album in artist.related_albums.all %}
            <li>
                <a href="">{{ album.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h3 class="text-center">Oops! You need to be authenticated to see this page!</h3>
{% endif %}

{% endblock %}
